doctype html
html
	head
		meta(charset="utf-8")
		title Qd

		// Polymer Imports
		script(src='/bower_components/webcomponentsjs/webcomponents.js')
		link(rel="import" href="/bower_components/paper-elements/paper-elements.html")
		link(rel="import" href="/bower_components/core-elements/core-elements.html")
		//link(rel="import" href="/bower_components/core-animated-pages/transitions/slide-from-right.html")
		link(rel="import" href="/bower_components/core-animation/core-animation.html")
		link(rel="import" href="/bower_components/paper-input/paper-autogrow-textarea.html")

		link(rel="import" href="/bower_components/font-roboto/roboto.html")

		// build:css styles/vendor.css
		// bower:css
		link(rel='stylesheet', href='/bower_components/bootstrap-sweetalert/lib/sweet-alert.css')
		// endbower
		// endbuild

		// Stylesheets
		link(rel='stylesheet', href='styles/styles.css')


	body(fullbleed vertical layout unresolved)
		
		template(is="auto-binding")

			core-scroll-header-panel#app-header-panel(flex)
				core-toolbar#app-header-toolbar

					//- Back Button (visible on every page except "AddEdit")
					paper-icon-button(hidden?="{{selected == 0}}" icon="arrow-back" on-tap="{{ back }}" )

					//- Page Title
					div {{ views.titles[selected] }}
					span(flex)

					//- Delete and Save Button (visible only on "AddEdit")
					paper-icon-button.accent(icon="delete" hidden?="{{!isEdit}}")
					paper-icon-button.accent(icon="check" hidden?="{{!isAdd && !isEdit}}" on-tap="{{save}}")

					//- Back Button (visible on every page except "AddEdit")
					paper-menu-button(hidden?="{{selected != 0}}")
						paper-icon-button(icon="more-vert")
						paper-dropdown.dropdown(halign="right")
							div.menu
								paper-item(noink recenteringTouch view="3" on-tap="{{go}}") Settings
								paper-item(noink recenteringTouch view="4" on-tap="{{go}}") About
								paper-item(noink recenteringTouch view="2" on-tap="{{go}}") Edit
					
					

				core-animated-pages(id="app-views" selected="{{selected}}" transitions="cross-fade-all")
					section.page-container
						include views/dashboard
					section.page-container
						include views/add
					section.page-container
						include views/edit
					section.page-container
						include views/settings
					section.page-container
						include views/about
				
			paper-action-dialog#addEdit-confirm-exit(heading="Hey you have not saved!" transition="core-transition-center" autoCloseDisabled)
				p All your changes will be lost.<br/>What do you want to do?
				paper-button#addEdit-button-dialog-cancel(dismissive) Cancel
				paper-button#addEdit-button-dialog-discard(affirmative) Discard

			paper-fab(icon="add" view="1" on-tap="{{go}}" available?="{{selected == 0 }}")

			
	

		// build:js scripts/vendor.js
		// bower:js
		script(src='/bower_components/webcomponentsjs/webcomponents.js')
		script(src='/bower_components/polymer/polymer.js')
		script(src='/bower_components/bootstrap-sweetalert/lib/sweet-alert.js')
		// endbower
		// endbuild
		
		// Scripts
		script(src='/bower_components/apollo.js/dist/apollo.min.js')
		script(src='/scripts/app.js')
		script(src='/scripts/lib/phonenumber.js')

		script.
			window.addEventListener('polymer-ready', function(){
				qd.core.init();
			});

		

		

		
		