doctype html
html
	head
		meta(charset="utf-8")
		title Qd

		// Polymer Imports
		script(src='/bower_components/webcomponentsjs/webcomponents.js')
		link(rel="import" href="/bower_components/paper-elements/paper-elements.html")
		link(rel="import" href="/bower_components/core-elements/core-elements.html")
		link(rel="import" href="/bower_components/core-animated-pages/transitions/slide-from-right.html")
		link(rel="import" href="/bower_components/core-animation/core-animation.html")
		link(rel="import" href="/bower_components/paper-input/paper-autogrow-textarea.html")

		link(rel="import" href="/bower_components/font-roboto/roboto.html")

		// build:css styles/vendor.css
		// bower:css
		link(rel='stylesheet', href='/bower_components/bootstrap-sweetalert/lib/sweet-alert.css')
		// endbower
		// endbuild

		// Stylesheets
		link(rel='stylesheet', href='styles/styles.css')


	body(fullbleed vertical layout unresolved)
		
		template(is="auto-binding")

			core-scroll-header-panel#app-header-panel(flex)
				core-toolbar#app-header-toolbar

					//- Back Button (visible on every page except "AddEdit")
					paper-icon-button(hidden?="{{selected == 0}}" icon="arrow-back" on-tap="{{ back }}" )

					//- Page Title
					div {{ views.titles[selected] }}
					span(flex)

					//- Delete and Save Button (visible only on "AddEdit")
					paper-icon-button.accent(icon="delete" hidden?="{{!isEdit}}" on-tap='{{delete}}')
					paper-icon-button.accent(icon="check" hidden?="{{!isAdd && !isEdit}}" on-tap="{{save}}" )
					paper-icon-button.accent(icon="{{isActive ? 'alarm-on' : 'alarm-off'}}" off?='{{!isActive}}' hidden?="{{!isAdd && !isEdit}}" on-tap="{{toggle}}")

					//- Back Button (visible on every page except "AddEdit")
					paper-menu-button(hidden?="{{selected != 0}}")
						paper-icon-button(icon="more-vert")
						paper-dropdown.dropdown(halign="right")
							div.menu
								paper-item(noink recenteringTouch view="3" on-tap="{{go}}") Settings
								paper-item(noink recenteringTouch view="4" on-tap="{{go}}") About
					
					

				core-animated-pages(id="app-views" selected="{{selected}}" transitions="slide-from-right")
					section.page-container.dashboard-container
						include views/dashboard
					section.page-container.addEdit-container
						include views/add
					section.page-container.addEdit-container
						include views/edit
					section.page-container
						include views/settings
					section.page-container
						include views/about
				
			paper-action-dialog#addEdit-confirm-exit(backdrop="true" transition="core-transition-center" autoCloseDisabled)
				p Discard unsaved changes?
				paper-button#addEdit-button-dialog-cancel(affirmative) Cancel
				paper-button#addEdit-button-dialog-discard(affirmative) Discard

			paper-action-dialog#addEdit-confirm-delete(backdrop="true" transition="core-transition-center" autoCloseDisabled)
				p Delete this message?
				paper-button#addEdit-button-dialog-cancel(affirmative) Cancel
				paper-button#addEdit-button-dialog-delete(affirmative) Delete

			paper-dialog#addEdit-select-repeat(backdrop="true" transition="core-transition-center" heading="Repeat")
				paper-radio-group#addEdit-select-input(selected='{{repeat}}')
					paper-radio-button(on-tap='{{setrepeat}}' name="none" label="None")
					paper-radio-button(on-tap='{{setrepeat}}' name="daily" label="Daily")
					paper-radio-button(on-tap='{{setrepeat}}' name="weekly" label="Weekly")
					paper-radio-button(on-tap='{{setrepeat}}' name="monthly" label="Monthly")


			paper-fab(icon="add" view="1" on-tap="{{go}}" available?="{{selected == 0 }}")

			paper-toast#app-toast(swipeDisabled duration='10000' text='{{toast.message}}') 
				core-icon(icon='{{toast.icon}}' type='{{toast.type}}')
			
	

		// build:js scripts/vendor.js
		// bower:js
		script(src='/bower_components/bootstrap-sweetalert/lib/sweet-alert.js')
		// endbower
		// endbuild
		
		// Scripts
		script(src='/bower_components/apollo.js/dist/apollo.min.js')
		script(src='/scripts/app.js')
		script(src='/scripts/lib/phonenumber.js')
		//script(src='/scripts/lib/datePickerPlugin.js')

		script.
			window.addEventListener('polymer-ready', function(){
				qd.core.init();
			});

		

		

		
		