
// View Polymer Element - Settings

polymer-element(name="qd-view-settings" constructor="QdViewSettings")
	
	template
		span Settings View
	
	script.
		
		Polymer({
			// properties and methods here
		});
