
// View Polymer Element - Dashboard

polymer-element(name="qd-view-dashboard" constructor="QdViewDashboard")
	
	template
		span Dashboard View
	
	script.
		
		Polymer({
			// properties and methods here
		});
